# Dependencias y builds
node_modules/
freyla-web/dist/
freyla-web/.angular/
freyla-web/coverage/

# Archivos de entorno
.env
api/.env
freyla-web/.env

# Archivos generados/subidos
uploads/
api/uploads/

# Miscelánea
.DS_Store
.index.js
*.log
.vscode/
